.App {
  text-align: center;
}

img.App-header-Logo {
  height: 12vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: '100%';
  padding: 5vh 0;
}

.searchButtonDiv {
  padding: 6vh 12vh;
}

p.totalCount {
  padding: 0vh 6vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summarySection, .listSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  vertical-align: baseline;
  justify-content: center;
}
.summarySection > Card, 
  .listSection > Card {
  padding: 5% 15%;
}

.summaryDataTable {
  flex: 1 1 auto;
  min-width: 40vw;
  width: 50vw;
}

/* Contact form styles */
.contact-form {
  padding: 2.5em 1.5em 1.5em 1.5em;
}
.contact-form .fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact-form .fields input {
  /* Agregar espacio entre componentes */
}

.contact-form .actions {
}

input[name='contact_name'], input[name='email'] {
  width: 15em;
}

.longtext-fields {
  width: 100%;
}

textarea[name='comments'], textarea[name='client_feedback'] {
  width: 70em;
  min-width: 30em;
}

.contact-form .fields .MuiSelect-select {
  width: 15em;
}
